<!DOCTYPE html>
<html>
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width = device-width, initial-scale = 1">
	<title>
		Air Ticket Reservation System
	</title>

	<style type = "text/css">
		html {
			min-height: 100%;
		}

		body {
			background: linear-gradient(to bottom right, rgb(155, 155, 155), rgb(255, 255, 255));
		}

		table, th, td {
			border: 1px solid black;
		}
	</style>
</head>

<body>
	<h1>
		Hello, <i>{{username}}!</i> <br>
		Welcome to the air ticket reservation system homepage.
	</h1>

	<p>
		The most frequent customer is: {{freq_customer}}.
	</p>

	<p>
		You can also search for all the flights for a particular customer:
	</p>

	<form action = "/viewFrequentCustomersAuth" method="POST">
		<input type = "text" name = "email" placeholder = "Customer Email" required/> <br>
		<input type = "submit", value = "View" />
	</form>

	{% if message %}
	<p>
		Here are all the flights {{email}} took on your airline:
	</p>
	{% if flight %}
	<table>
		<th>Airline Name</th>
		<th>Number</th>
		<th>Status</th>
		<th>Depart Airport</th>
		<th>Depart Time</th>
		<th>Arrival Airport</th>
		<th>Arrival Time</th>

		{% for line in flight %}
		<tr>
			<td>{{line['airline_name']}}</td>
			<td>{{line['flight_num']}}</td>
			<td>{{line['status']}}</td>
			<td>{{line['depart_airport']}}</td>
			<td>{{line['depart_time']}}</td>
			<td>{{line['arrive_airport']}}</td>
			<td>{{line['arrive_time']}}</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
	{% endif %}

	<br>
	<form action = "/homeStaff">
		<input type = "submit", value = "Back" />
	</form>
</body>
</html>
